.cards .zombiesrun header {
  background-image: url(../images/zr-banner.png);
  background-position: right;
}

.cards .thesunstandsstill header {
  background-image: url(../images/the-sun-stands-still.jpg);
  background-position: bottom;
}

.cards .farfaria header {
  background-image: url(../images/farfaria-map.jpg);
}

.cards .fidget header {
  background-image: url(../images/fidget-on-device.jpg);
}

.cards .trainwindow header {
  background-image: url(../images/train-window.jpg);
}

.cards .thewalk header {
  background-image: url(../images/the-walk.jpg);
}

.cards .xts header {
  background-image: url(../images/xts-posters.jpg);
}

.cards .tegola header {
  background-image: url(../images/tidal-fading.png);
}