.card .zombiesrun header {
  background-image: url(../images/zr-banner.png);
  background-position: right;
}

.card .thesunstandsstill header {
  background-image: url(../images/the-sun-stands-still.jpg);
  background-position: bottom;
}

.card .farfaria header {
  background-image: url(../images/farfaria-map.jpg);
}

.card .fidget header {
  background-image: url(../images/fidget-on-device.jpg);
}

.card .trainwindow header {
  background-image: url(../images/train-window.jpg);
}

.card .thewalk header {
  background-image: url(../images/the-walk.jpg);
}

.card .xts header {
  background-image: url(../images/xts-posters.jpg);
}

.card .tegola header {
  background-image: url(../images/tidal-fading.png);
}